<!DOCTYPE html>
<html>
<head>
    <title>Tuto vue.js</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <button v-on:click="toggleDisplayUsers()">
        <span v-if="displayUsers">Cacher les utilisateurs</span>
        <span v-if="!displayUsers">Afficher les utilisateurs</span>
        <span>( {{ usersListSize }} )</span>
    </button>

    <ul v-if="displayUsers">
        <li v-for="user, index in users">
            {{ user.name }}
            {{ user.age ? "age : " +  user.age : "" }}

            <button v-on:click="deleteUser(index)">
                X
            </button>
        </li>
    </ul>


    <br /><br />
    <input v-model="newUserName"/>
    <button v-on:click="addUser()">Ajouter</button>
</div>

<script>
    /**
     * "data" : les données du composant
     * "methods" : les actions du composant
     * "computed" : les données qui doivent être calculé a chaque modification de "data"
     *
     * "el": l'element HTML sur lequel on accroche l'objet de Type VUE,
     *       on aura pas a s'en soucis quand on travaillera avec vue-cli et typescript
     *
     * @type {Vue}
     */
    let app = new Vue({
        el: '#app',
        data: {
            users: [
                {name: "Paul"},
                {name: "Etienne"},
                {name: "Geoff"}
            ],
            displayUsers: true,
            newUserName: ""

        },
        methods: {
            deleteUser(index) {
                this.users.splice(index, 1);
            },
            toggleDisplayUsers() {
                this.displayUsers = !this.displayUsers;
            },
            addUser() {
                if (this.newUserName.trim() !== '') {
                    this.users.push({name: this.newUserName, age:19});
                    this.newUserName = '';
                }
            }
        },
        computed: {
            usersListSize() {
                return this.users.length;
            },
        }
    })
</script>
</body>
</html>
